/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


body {
  background-color: ivory;
  padding: 0 5px;
  text-align: center;
  max-width: 500px;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
}

input {
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
}

.answerSelected {
  pointer-events: none;
}

.next {
  align-self: flex-end;
  margin: 10px;
  border-radius: 25px;
  padding: 10px 50px;
}

.notVisible{
  visibility: hidden;
}

.selected {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.start, .retry {
  font-size: larger;
  align-self: center;
  padding: 50px;
  margin: 100px;
  border-radius: 20px;
  border-width: 10px;
  background-color: antiquewhite;
}

.notClickable {
  pointer-events: none;
}

.pBar {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 5px 25px;
  border-radius: 25px;
  color: white;
  margin: 0 30px 10px 30px;
  font-weight: bold;
}

.pBar > label {
  flex: 1;
  padding: 5px;
}

label.selected {
  color: black;
  background-color: orange;
}

.pLabel {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 5px;
}

@media all and (min-width: 350){
  .body{
    margin: 0 30%;
  }

}